{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

{% if author.avatar %}
  {% if author.author_image contains "://" %}
    {% assign author_src = author.avatar %}
  {% else %}
    {% assign author_src = author.avatar | relative_url %}
  {% endif %}
<div class="author-box">
  <div class="author-info">
    <div class="author-avatar" style="background-image: url({{ author_src }})"><span class="screen-reader-text">{{ author.name }}'s Picture</span></div>
          <div class="author-details">
              <h2 class="author-title">About {{ author.name }}</h2>
                 <p class="author-bio">{{ author.bio }}</p>
                 {% if author.email %}<span class="author-website"><i class="fa-mail" aria-hidden="true"></i> <a href="mailto:{{ author.email}}">Kirim surel</a>
                 {% if author.uri %}<span class="author-website"><i class="fa-chain" aria-hidden="true"></i> <a href="{{ author.uri }}" target="_blank">Situs</a></span>{% endif %}
                 {% if author.facebook %}<span class="author-website"><i class="fa-facebook" aria-hidden="true"></i> <a href="{{ author.facebook }}" target="_blank">Facebook</a></span>{% endif %}
    </div><!-- .author-details -->
   </div><!-- .author-info -->
 </div><!-- .author-box -->
{% endif %}
