<!-- sidebar ad -->
<ins class="{% if site.adsbygoogle %}adsbygoogle{% endif%}"
style="display:block"
data-ad-client="{if site.adsbygoogle.ca-pub %}{{ site.adsbygoogle.ca-pub }}{% else %}ca-pub-8526606076277673{% endif %}"
data-ad-slot="{% if site.adsbygoogle.sidebar %}{{ site.adsbygoogle.sidebar_slot }}{% else %}8128278337{% endif %}"
data-ad-format="{% if site.adsbygoogle.sidebar_format %}{{ site.adsbygoogle.sidebar_format}}{% else %}auto{% endif %}"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- /sidebar ad -- 
